body {
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav .dropdown {
    float: left;
    overflow: hidden;
}

nav .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

section {
    margin: 20px;
}
img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05); 
}

#preloader{
    background:white url(preloader.gif) no-repeat center center;
    background-size:20%;
    width: 100%;
    height:100% ;
    position: fixed;
    z-index: 100;
}
